/* @import "/node_modules/@syncfusion/ej2-base/styles/material.css";
@import "/node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "/node_modules/@syncfusion/ej2-react-inputs/styles/material.css";

.uploader{
    width: 50%;
    font-size: 1em;
    font-weight: normal;
    background-color: white;
} */

.student_enrolling{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    color: rgb(168, 164, 164);
}
.para{
    margin-bottom: 0;
}
.enroll{
    /* background-color: rgb(136, 125, 206); */
    /* background: linear-gradient(-135deg,#899fd4,#a389d4); */
    /* background: -webkit-linear-gradient(225deg,#1de9b6,#1dc4e9);
    background: linear-gradient(-135deg,#1de9b6,#1dc4e9); */
    /* background-color: white; */
    border: 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    width: 40%;
    margin-top: 40px;
    
}
.enroll:hover{
    background-color: rgb(180, 180, 180);
}
/*///////////////////////////////////////////////student_csv/////////////////////////////////////////////////////////////////*/

.file{
    background: white;
    margin-top: 60px;
    padding: 60px;
    padding-bottom: 120px;
}

.file_upload {
    background: #FFF;
    clear: both;
    overflow: auto;
    border: 1px solid #BBB;
    min-height: 140px;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.fu-empty-container {
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 2px dashed #BBB;
    padding-top: 85px;
    text-align: center;
}
.upload-msg{
    display: inline;
}
.upload-arrow{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 5px;
}
.imge{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
}

.upload,.cancel{

    border: 0;
    /* box-shadow: 0 5px 10px 0 rgba(0,0,0,.2); */
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 60px;
    /* position: static; */
    /* color: black; */
    font-weight: 500;
}
.upload{
    
    margin-right: 30px;
    background-color: rgb(64, 213, 224);
}
.cancel{
    background-color: rgb(248, 168, 217);
}
.upload:hover{
    background-color: rgb(64, 187, 224);
}
.cancel:hover{
    background-color: violet;
}
.csv-reader-input{
    background: #FFF;
    clear: both;
    overflow: auto;
    border: 1px solid #BBB;
    min-height: 120px;
    padding: 15px;
    margin-top: 30px;

}
.csv-input{
    background: #FFF;
    clear: both;
    overflow: auto;
    border: 2px dashed #BBB;
    min-height: 120px;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* display: flex; */
    width: 100%;
    padding-left: 350px;
    padding-top: 40px;
    display: block;
    align-items: center;
}
.nav-tabs .nav-link.active{
    /* background-color: rgb(182, 231, 250); */
    color: #007bff;
   
}
.nav-tabs .nav-link{
    color: #000;
}


/*/////////////////////////////////////////////student_enrolled////////////////////////////////////////////////////////////////*/

.student_enrolled{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    color: rgb(168, 164, 164);
}

/*//////////////////////////////////////////////student_list////////////////////////////////////////////////////////////////*/

.student_list{
    background-color: white;
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
}
.table thead th{
    background-color: rgb(182, 180, 180);
    padding-top: 6px;
    padding-bottom: 6px;
}
.table{
    text-align: center;
}
.label {
    padding: 2px 14px;
    min-height: auto;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    color: #000;
    font-size: 14px;
}
.theme-bg {
    background-color: #5de1f8;
}
.theme-bg:hover{
    color: #000;
}
.selected{
    margin-top: 16px;
}
.select-btn{
    padding: 1px 20px;
    margin-left: 10px;
    margin-top: 15px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}
.btn_row{
    flex-direction: row;
}
.upload2,.cancel2{

    border: 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    /* position: static; */
    color: black;
    /* font-weight: 500; */
}
.upload2{
    
    margin-right: 30px;
    background-color: rgb(64, 213, 224);
}
.cancel2{
    background-color: rgb(241, 172, 224);
}
.cancel2:hover{
    background-color: violet;
}

/*////////////////////////////////////////////////////////student_list2/////////////////////////////////////////////////////*/

.student_list2{
    /* background-color: white; */
    margin-top: 20px;
    /* padding: 20px; */
    border-radius: 5px;
}
.student_list2 > h1 {
    position: relative;
   text-align: center;
    margin-top: 0.2em;
    color: rgba(72, 71, 71, 0.708);
    font-weight: 700;
  }
  .enrollbtn{
    background-color: rgb(64, 213, 224);

  }
.enrollbtn,.cancelbtn{

    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
}
.enrollbtn{
    margin-right: 30px;
}