@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
:any-link {
  text-decoration: none;
}

/*================================================== navbar =================================================== */

.navbar {
  width: 100%;
  height: 45px;
  position: fixed !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 3px rgb(206, 206, 206);
  background-color: rgb(33, 201, 235);
  z-index: 5;
}

.logo-navbar {
  margin-left: 17vw;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-links {
  margin-right: 50px;
  color: white;
}

/*==================================================== sidebar =================================================== */

.side-bar {
  padding: 0 10px;
  width: 13%;
  height: 100vh;
  background: rgb(22, 169, 200);
  background: linear-gradient(
    0deg,
    rgba(22, 169, 200, 1) 0%,
    rgba(63, 188, 213, 1) 0%,
    rgba(63, 192, 213, 1) 0%,
    rgba(232, 247, 250, 1) 50%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  position: fixed !important;
  z-index: 10;
  box-shadow: 2px 1px 1px rgb(179, 178, 178);
}

.sidebar-logo {
  height: 70px;
  width: 70px;
  margin-top: 20px;
  margin-left: 50%;
  transform: translate(-50%);
}

.empty-box {
  height: 30px;
}

.sidebar-icon {
  margin-right: 10px;
}

.sidebar-link {
  background-color: rgb(54, 192, 247);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: left;
  padding: 5px;
  padding-left: 30px;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgb(134, 134, 134);
}

.sidebar-link:hover {
  background-color: rgb(43, 155, 199);
}

/*==================================================== dashboard admin content =================================================== */

.admin-content {
  position: fixed !important;
  right: 10px;
  top: 60px;
  width: 84%;
  background-color: rgb(236, 234, 234);
  border-radius: 5px;
  height: 100px;
  height: 90vh;
  float: right;
  overflow: auto;
}

.content {
  background-color: red;
  height: 300px;
  margin: 10px;
}

/*==================================================== dashboard home =================================================== */

.dashboard-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(168, 164, 164);
}

/*==================================================== companies =================================================== */


.companies { width: 100%;height: 100%;display: flex; flex-direction: column;}

.companyview-btn{
    width: 6em;
    border-radius: 4em;
    background: linear-gradient(0deg, rgb(149, 174, 183) 0%, rgb(122, 121, 151) 0%, rgb(89, 81, 132) 0%, rgb(110, 96, 137) 50%, rgb(113, 107, 157) 100%, rgba(255, 255, 255, 0) 100%);
    border: none;
}
.companydel-btn{
    width: 6em;
    border-radius: 4em;
    background: linear-gradient(0deg, rgb(98, 16, 16) 0%, rgb(144, 54, 54) 0%, rgb(168, 95, 95) 0%, rgb(199, 104, 104) 50%, rgb(154, 60, 60) 100%, rgba(255, 255, 255, 0) 100%);
    border: none;
}
.companymsg-btn{
    width: 6em;
    border-radius: 4em;
    background: linear-gradient(0deg, rgb(149, 183, 157) 0%, rgb(121, 151, 129) 0%, rgb(81, 132, 95) 0%, rgb(96, 137, 109) 50%, rgb(107, 157, 119) 100%, rgba(255, 255, 255, 0) 100%);
    border: none;
}
  
.cards { margin-left: 8em; display: flex; flex-wrap: wrap; }
 
form.search-bar input[type=text] {
    padding: 10px;
    margin-left: 18em;
    font-size: 17px;
    border: 1px solid grey;
    width: 30em;
    background: #ffffff;
    border-radius: 5em;
  }
  
form.search-bar::after {content: ""; clear: both; display: table; border: none;}

.containerAlph {Margin-top:2vh; display: flex; justify-content: center;}

.compnaytab {
  border: none;
  width: 20em;
  height: 5em;
  font-size: 16px;
  margin: 10px 50px;
  cursor: pointer;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 5, 0.19);
  background-color: rgb(58, 94, 116);
  }

.company-logo { position: absolute;height: 150px;width: 150px;margin: 50px 10px;border-radius: 50%;}


/*==================================================== students =================================================== */

.students {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(168, 164, 164);
}

/*==================================================== adverts =================================================== */

.adverts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(168, 164, 164);
}
.admin-content {
  justify-content: center;
  align-items: center;
}

.top-left {
  top: 0;
  left: 0;
}

.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.top-right {
  top: 0;
  right: 0;
}
/*==================================================== studentCvs =================================================== */

.studentCvs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(168, 164, 164);
}

/*==================================================== emailing =================================================== */

.emailing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(168, 164, 164);
}

/*==================================================== users =================================================== */

.users {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(168, 164, 164);
}

/*==================================================== notifications =================================================== */

.notifications {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(168, 164, 164);
}
